* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.nav-wrapper {
  background-color: #01A9DB;
  padding: 10px;
}
.nav-wrapper .navbar-brand {
  color: #fff;
  font-size: 2.2rem;
}
.nav-wrapper .link {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  display: block;
  padding: 10px 20px;
}
.nav-wrapper .link:hover {
  color: #000;
}
.nav-wrapper .nav-icon {
  background-color: #fff;
}

.title-text {
  font-size: 2.3rem;
}
.title-text .logo {
  color: #01A9DB;
}
.link-button {
  font-size: 1.1rem;
  display: block;
  width: 200px;
  text-align: center;
  background-color: #01A9DB;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}
.link-button:hover {
  color: #000;
}
.collapse {
  z-index: 1;
}

.img-animate {
  animation: animate-image 2s ease-in-out infinite alternate-reverse both;
}
@keyframes animate-image {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
